@mixin header-text($color, $size: 20px) {
    color: $color;
    font-size: $size;
    font-weight: bold; 
}

@mixin timer-container {
    padding: 10px;
    border: 1px solid #e9ecef;
    text-align: center;
    margin-bottom: 20px;
}

